<span *ngIf="!estado">
  <h1>Productos</h1>
  <div class="tarjetas-container">
    <div *ngFor="let producto of listaProductos" class="tarjeta">
      <div class="imagen" (click)="verProducto( producto )">
        <img [src]="producto.images" alt="Imagen de la tarjeta">
      </div>
      <div class="contenido">
        <h3>{{ producto.title }}</h3>
        <p> Valor : {{ producto.price }}</p>
        <app-carrito-compras [title]="producto.title" ></app-carrito-compras>
      </div>
    </div>
  </div>
</span>
<span *ngIf="estado">
  <h1>Busqueda Productos</h1>
  <div class="tarjetas-container">
    <div *ngFor="let producto of buscarProducto" class="tarjeta">
      <div class="imagen" (click)="verProducto( producto )">
        <img [src]="producto.images" alt="Imagen de la tarjeta">
      </div>
      <div class="contenido">
        <h3>{{ producto.title }}</h3>
        <p> Valor : {{ producto.price }}</p>
        <app-carrito-compras [title]="producto.title" ></app-carrito-compras>
      </div>
    </div>
  </div>
</span>

