// .fab-button {
//     position: absolute;
//     // bottom: 20px;
//     right: 20px;
//     width: 56px;
//     height: 56px;
//     border-radius: 50%;
//     background-color: #007bff;
//     color: #ffffff;
//     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
//     border: none;
//     outline: none;
//     cursor: pointer;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 24px;
//     transition: background-color 0.3s;
//   }

//   .fab-button:hover {
//     background-color: #0056b3;
//   }

//   .fab-button i {
//     pointer-events: none;
//   }

// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

div{
    display: flex;
    gap: 10px;
    top: 10px;
}
a {
    display: block;
    text-decoration: none;
    background: #0977df;
    color: #ffffff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
}

a:hover {
    background: #fff;
    color: #0977df;
}

img{
    height: 100%;
    width: 65%;

}


