// .slides {
//     position: relative;
//     background: #000;
//     height: 100vh;
//     overflow: hidden;
// }

// .slide::after {
//     content: '';
//     position: absolute;
//     inset: 0;
//     z-index: 10;
//     background-color: #00000080;

// }

// .slide {
//     position: absolute;
//     inset: 0;
//     opacity: 0;
//     animation: cycle 12s infinite;

// }

// .slide-2 {
//     animation-delay: 4s;
// }

// .slide-3 {
//     animation-delay: 8s;
// }

// .slide-images {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

// @keyframes cycle {
//     0% {
//         opacity: 0;
//     }

//     10% {
//         opacity: 1;
//     }

//     20% {
//         opacity: 1;
//         transform: scale(1.05);
//     }

//     30% {
//         opacity: 0;
//         transform: scale(1.05);
//     }

//     100% {
//         opacity: 0;
//     }
// }

// .slideshow {
//     width: 100%;
//     height: 300px;
//     overflow: hidden;
//   }
  
//   .slide {
//     width: 100%;
//     height: 100%;
//     opacity: 0;
//     transition: opacity 1s ease;
//   }
  
//   .slide:last-child {
//     opacity: 1;
//   }
  
//   .slide img {
//     width:30%;
//     height: 100%;
//     //object-fit: cover;
//   }
  
//   @keyframes slideshow {
//     0% {
//       opacity: 0;
//     }
//     20% {
//       opacity: 1;
//     }
//     33.33% {
//       opacity: 1;
//     }
//     53.33% {
//       opacity: 0;
//     }
//     100% {
//       opacity: 0;
//     }
//   }
  
//   .slideshow .slide {
//     animation: slideshow 10s infinite;
//   }
*{
    margin: 0 auto 0;
    padding: 0;
    box-sizing: border-box;
}
 
  .slideshow {
    width: 250px;
    height: 300px;
    overflow: hidden;
    display: flex;
  }

  .slideshow div{
    //display: flex;
    animation: cambio 20s infinite alternate linear;
  }
  .slideshow img{
    width: 100%;
    height: 100%;
  }

  @keyframes cambio{
    // 0%{margin-left: 0;}
    // 20%{margin-left: 0;}
    // 25%{margin-left: -100%;}
    // 45%{margin-left: -100%;}
    // 50%{margin-left: -200%;}
    // 70%{margin-left: -200%;}
    // 75%{margin-left: -300%;}
    // 100%{margin-left: -300%;}
    
  }