nav {
	margin: 27px auto 0;
	position: relative;
	width: 590px;
	height: 50px;
	background-color: #232a31ec;
	border-radius: 8px;
	font-size: 0;
}

nav a {
	line-height: 60px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

a:nth-child(1) {
	width: 100px;
}

a:nth-child(2) {
	width: 110px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}

nav .start-about,
a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}

.svg {
	height: 25px;
	width: 25px;
}

section{
	position: absolute;
	top: 0px;
	right: 0px;
}

input{
	border-radius: 8px;
	height: 55%;
	margin: 15px;
	text-align: center;
}


.btn {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0.3rem 0.3rem;
	background: #e74c3c;
	text-transform: uppercase;
	font-size: 15px;
	line-height: normal;
	border: 0;
	border-radius: 0.4rem;
	box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	
	&:hover {
	  background: #0977df;
	  box-shadow: -2px 2px 16px rgba(0, 0, 0, 0.6);
	}
	
	&:active,
	&:focus {
	  outline: none;
	}
	
	&:active {
	  box-shadow: -4px 4px 24px rgba(0, 0, 0, 0.8);
	}
  }